{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "comma-dangle": [2, "never"],
        "indent": [2, 2, {"SwitchCase": 1}],
        "jsx-quotes": [2, "prefer-single"],
        "no-use-before-define": [2, "nofunc"],
        "object-curly-spacing": [2, "never"],
        "react/jsx-indent-props": [2, 4],
        "no-console": 0,
        "object-curly-spacing": [2, "always"],
        "func-names": 0,
        "one-var": 0,
        "new-cap": 0,
        'max-len': [2, 110, 2, {
          'ignoreUrls': true,
          'ignoreComments': false
        }],
    },
    "plugins": [
    ],
    "globals": {
      "describe": true,
      "it": true
    }
}